<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.thaings.daemon</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__HOME__/.local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>__THAINGS_ROOT__/bin/responds-to-things-to-dos</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>__THAINGS_ROOT__/to-dos</string>
    </array>
    <key>StandardOutPath</key>
    <string>__THAINGS_ROOT__/log/daemon.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__THAINGS_ROOT__/log/daemon.stderr.log</string>
</dict>
</plist>
